@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>客戶管理系統</h1>
    <p class="lead">歡迎使用客戶資料管理系統。</p>
    <p><a href="@Url.Action("Index", "Customers")" class="btn btn-primary btn-lg">開始使用</a></p>
</div>
