<configuration>
  <connectionStrings>
    <add name="MSSQL.CustomerEntities"
         connectionString="Server=(localdb)\mssqllocaldb;Database=客戶資料;Trusted_Connection=True;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" />
	  <add name="PostgreSQL.CustomerEntities"
		 connectionString="Host=localhost;Port=5432;Database=mytestbox;Username=mytestbox;Password=1234mtb1234"
		 providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
